h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
}
nav, footer {
  background-color:rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  display: flex;
  font-family: 'PT Sans', sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
footer {
  justify-content: center;
  font-size: 1.8rem;
}
nav div {
  display: flex;
}
.logo {
  align-items: center;
  gap: 2rem;
}
.logo h1 {
  padding-top: 10px;
  font-size: 2.8rem;
}
.links {
  gap: 2rem;
  font-size: 1.6rem;
  position: center;
  color: #fff;
}
nav img {
  height: 6rem;
  width: auto;
}
header {
  align-items: center;
  position: relative;

} /*--Commenting this out to come back to later--*
.figcaption {
  position: relative;
  bottom: 400px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.8),
               1px -1px 0px rgba(0,0,0,0.8),
               -1px 1px 0px rgba(0,0,0,0.8),
               1px 1px 0px rgba(0,0,0,0.8);
}
.figcaption h1 {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}
.figcaption p {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
.prev {
  cursor: pointer; 
  padding: 3rem 3rem;
  position: absolute; 
  top: 50%; 
  left: 0rem;
  transform: translateY(-50%);
  width: auto; 
  font-size: 200%;
  border-radius: 0 2rem 2rem 0; 
}
.next {
  right: 0rem; 
  border-radius: 2rem 0 0 2rem; 
  cursor: pointer; 
  padding: 3rem 3rem;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  width: auto; 
  font-size: 200%;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6); 
}
button {
  background: none;
  border: 0;
  transition: var(--std);
}
button:hover {
  cursor: pointer;
} /*--Commenting this out to come back to later--
.dot-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 3.2rem;
}
.dot {
  background-color: rgba(255,255,255,.6);
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--std);
}
.dot:hover {
  background-color: rgba(255,255,255,1);
}
.dot:first-child {
  margin-left: 0;
} --Commenting this out to come back to later--*/
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
:root {
    --surface-color: #fff;
    --curve: 40;
}
* {
  box-sizing: border-box;
}
body {
  font-family:'Playfair Display', serif;
  background-color: #fef8f8;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}
.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.card__image {      
  width: 100%;
  height: auto;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}
.card:hover .card__overlay {
  transform: translateY(0);
}
.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}
.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}
.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       
.card:hover .card__header {
  transform: translateY(0);
}
.card__thumb {
  flex-shrink: 0;
  width: 60px;
  height: 60px;      
  border-radius: 50%;      
}
.card__title {
  font-size: 1.2em;
  margin: 0 0 .3em;
  color: #000000;
}
.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #000000;  
}
.card__status {
  font-size: .9em;
  color: #e98ebb;
}
.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body {
  background-color:rgb(248, 245, 237);
  }

/*--Media Queries--*/
@media screen and (max-width: 549px) {
  main{grid-template-columns:repeat(1, 1fr);}
}
@media screen and (min-width: 550px) {
  main{grid-template-columns:repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  main{grid-template-columns:repeat(3, 1fr);}
  aside p {column-count: 2;}
}
@media screen and (min-width: 1080px) {
  main{grid-template-columns:repeat(4, 1fr);}
}